*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

.body{
    background-color: #EEEEEE;
}

.header{
    width: 100%;
    height: 40px;
    background-color: aqua;
}